/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Averta Std';
    background: #FBFFFE;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.container{
    max-width: 1180px;
    width:94%;
    margin: 0 auto;
}
header {
    padding: 20px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
}
.logo_email {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mailto {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #000000;
}
a.mailto img {
    vertical-align: middle;
    margin-right: 6px;
}
.bg-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(100px);
    z-index: -1;
}
.bg-svg img {
    width: 100%;
}
section.banner {
    position: relative;
}
.main-banner {
    min-height: 680px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

p{
    font-family: 'Averta Std';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 28px;
}
.banner-heading {
    max-width: 590px;
}
h1 {
    font-family: 'Averta Std';
    font-style: normal;
    font-weight: 700;
    font-size: 92px;
    line-height: 90px;
    color: #000000;
    margin-bottom: 30px;
}


.dash-animation {
    stroke-dasharray: 154;
    stroke-dashoffset: 154;
    animation: dash 5s linear forwards infinite;
  }
  
  @keyframes dash {
  0% {
      stroke-dashoffset: 154;
    }
    50%{
      stroke-dashoffset: 0;
    }
   100% {
      stroke-dashoffset: -154;
    }
  }

  .ui-tilt {
    color: #11B95F;
    border: 1px solid #11B95F;
    display: inline-block;
    padding: 0 10px 6px;
    position: relative;
    vertical-align: middle;
    transform: rotate(-3deg);
    transform-origin: bottom left;
}
span.ui-tilt:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border: 1px solid #11B95F;
    left: -6px;
    top: -6px;
}
span.ui-tilt:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border: 1px solid #11B95F;
    right: -6px;
    top: -6px;
}
span.tilt-dot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
span.tilt-dot:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border: 1px solid #11B95F;
    right: -6px;
    bottom: -6px;
}
span.tilt-dot:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border: 1px solid #11B95F;
    left: -6px;
    bottom: -6px;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one-half {
    width: 50%;
}
h2.heading span {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #D0D0D0;
    display: block;
}
h2.heading {
    font-weight: 700;
    font-size: 52px;
    line-height: 65px;
    color: #202410;
}
.project-info p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #2F2F2F;
    margin: 20px 0 40px;
}
a.btn-primary {
    position: relative;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #02B154;
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #02B154;
    display: inline-block;
    padding: 15px 28px;
    transition: all .3s ease-in-out;
}
a.btn-primary:before{
    content: "";
    top:-5px;
    left: -5px;
}
a.btn-primary:after{
    content: "";
    top:-5px;
    right: -5px;
}
a.btn-primary:before, a.btn-primary:after, a.btn-primary span.tilt-dot:before, a.btn-primary span.tilt-dot:after {
position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid #11B95F;
    background: #FFF;
    
}
a.btn-primary span.tilt-dot:before{
    bottom:-5px;
    left: -5px;
}
a.btn-primary span.tilt-dot:after{
    bottom:-5px;
    right: -5px;
}
a.btn-primary:hover{
    background:#02B154 ;
    color: #FFF;
}
.project-image img {
    width: 100%;
}
.project-info {
    max-width: 530px;
}
a.btn-primary:hover span.tilt-dot, a.btn-primary:hover::before, a.btn-primary:hover::after {
    opacity: 0;
}
